.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

//.todo-check {
//  float: left;
//  font-size: 21px;
//  font-weight: bold;
//  line-height: 1;
//  color: #000;
//  text-shadow: 0 1px 0 #fff;
//  filter: alpha(opacity=20);
//  opacity: .2;
//}
//
//.todo-check:hover,
//.todo-check:focus {
//  color: #000;
//  text-decoration: none;
//  cursor: pointer;
//  filter: alpha(opacity=50);
//  opacity: .5;
//}
//
//
//button.todo-check{
//  margin-right: 10px;
//  -webkit-appearance: none;
//  padding: 0;
//  cursor: pointer;
//  background: transparent;
//  border: 0;
//}

.todo-check{
  @extend .close;
  float: left;
}
button.todo-check{
  margin-right : 10px;
}

.priority{
  @extend .close;
  opacity: .6;
}
.priority:hover,
.priority:focus{
    opacity: 1;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.child-elements {
  pointer-events: none;
}

