<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Daily Life</h1>
    <p class="lead">Angular Fullstack Generator을 활용해 프로젝트 시작</p>
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
  </div>
</header>
<div class="container">
  <h5 class="page-header">어제의 다짐(일기장에서 등록 가능)</h5>
  <div class="alert alert-success">
    <strong>오늘은 뭐먹지</strong>
  </div>
</div>

<div class="container">
  <h5 class="page-header">Today Plan</h5>
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>오전</th>
      <th>오후</th>
      <th>저녁</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td drop-thing="morning">
        <!--<button type="submit" class="btn btn-primary" ng-repeat="thing in awesomeThings | filter:priorityFilter">-->
        <!--{{thing.name}}-->
        <!--</button>-->
        <a href="#"  class="list-group-item" ng-repeat="thing in awesomeThings | filter:dayPlanFilter('morning')" drag-thing >
          <h6  class="list-group-item-heading" drag-thing >{{thing.name}}</h6>
          <button type="button" class="close" ng-click="deleteThing(thing)">
            <span class="glyphicon glyphicon-check"/>
          </button>
        </a>
      </td>
      <td drop-thing="afternoon">
        <a href="#"  class="list-group-item" ng-repeat="thing in awesomeThings | filter:dayPlanFilter('afternoon')" drag-thing>
          <h6  class="list-group-item-heading" drag-thing >{{thing.name}}</h6>
          <button type="button" class="close" ng-click="deleteThing(thing)">
            <span class="glyphicon glyphicon-check"/>
          </button>
        </a>
      </td>
      <td drop-thing="night">
        <a href="#"  class="list-group-item" ng-repeat="thing in awesomeThings | filter:dayPlanFilter('night')" drag-thing>
          <h6  class="list-group-item-heading" drag-thing >{{thing.name}}</h6>
          <button type="button" class="close" ng-click="deleteThing(thing)">
            <span class="glyphicon glyphicon-check"/>
          </button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>



<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">To-Do</h2>
      <!--<form class="thing-form">-->
      <!--<label>빠른등록</label>-->
      <!--<p class="input-group">-->

      <!--<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">-->
      <!--<input type="date" class="form-control" ng-model="newDate">-->
      <!--<input type="checkbox" ng-model="priority.value" ng-true-value="'high'" ng-false-value="'normal'">-->
      <!--<span class="input-group-btn">-->
      <!--<button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>-->
      <!--</span>-->
      <!--</p>-->
      <!--</form>-->

      <div class="list-group" drop-thing="highPriority">
        <span class="label label-warning">Must</span>
        <button type="button" popover-template="popover.templateUrl">
          <span class="glyphicon glyphicon-plus-sign"/>
        </button>

        <script type="text/ng-template" id="popoverTemplate.html">
          <form class="thing-form">
            <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing" >
            <button type="submit" class="btn btn-primary" ng-click="addThing('must')">Add New</button>
          </form>
        </script>

        <a href="#" class="list-group-item" ng-repeat="thing in awesomeThings | filter:priorityFilter" drag-thing >
          <h4 class="list-group-item-heading" >{{thing.name}}
            <button type="button" class="close" ng-click="deleteThing(thing)">
              <span class="glyphicon glyphicon-check"/>
            </button>
          </h4>
        </a>

      </div>
      <div class="list-group" drop-thing="today">
        <span class="label label-primary">Today</span>
        <button type="button" ng-click="show('addToday')">
          <span class="glyphicon glyphicon-plus-sign"/>
        </button>
        <form class="thing-form" ng-show="addToday">
          <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
          <button type="submit" class="btn btn-primary" ng-click="addThing('today')">Add New</button>
        </form>
        <a href="#" class="list-group-item" ng-repeat="thing in awesomeThings| filter:todayFilter" drag-thing  >
          <h4 class="list-group-item-heading" >{{thing.name}}
            <button type="button" class="close" ng-click="deleteThing(thing)">
              <span class="glyphicon glyphicon-check"/>
            </button>
          </h4>
        </a>
      </div>
      <div class="list-group" >
        <span class="label label-default">Week</span>
        <a href="#" class="list-group-item" ng-repeat="thing in awesomeThings| filter:weekFilter" drag-thing>
          <h4 class="list-group-item-heading">{{thing.name}}
            <button type="button" class="close" ng-click="deleteThing(thing)">
              <span class="glyphicon glyphicon-check"/>
            </button>
          </h4>
        </a>
      </div>
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">-->
      <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>-->
      <!--</ul>-->
    </div>
  </div>




  <footer class="footer">
    <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="http://jhbang8917.cafe24.com/">Dennis Bang</a> |
    </div>
  </footer>
