<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Daily Life</h1>
    <p class="lead">Angular Fullstack Generator을 활용해 프로젝트 시작</p>
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
  </div>
</header>
<div class="container">
  <h5 class="page-header">어제의 다짐(일기장에서 등록 가능)</h5>
  <div class="alert alert-success">
  	<strong>오늘은 뭐먹지</strong>
  </div>
</div>



<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">To-Do</h2>
      <div class="list-group" >
        <span class="label label-warning">Must</span>
        <a href="#" class="list-group-item" ng-repeat="thing in awesomeThings">
          <h4 class="list-group-item-heading">{{thing.name}}
            <button type="button" class="close" ng-click="deleteThing(thing)">
              <span class="glyphicon glyphicon-check"/>
            </button>
          </h4>
        </a>
        </div>
      <div class="list-group" >
        <span class="label label-primary">Today</span>
        <a href="#" class="list-group-item" ng-repeat="thing in awesomeThings">
          <h4 class="list-group-item-heading">{{thing.name}}</h4>
        </a>
      </div>
      <div class="list-group" >
        <span class="label label-default">Week</span>
        <a href="#" class="list-group-item" ng-repeat="thing in awesomeThings">
          <h4 class="list-group-item-heading">{{thing.name}}  {{thing.date | date:'fullDate'}}</h4>
        </a>
      </div>
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">-->
      <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>-->
      <!--</ul>-->
  </div>
</div>
  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <input type="date" class="form-control" ng-model="newDate">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>

  <footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="http://jhbang8917.cafe24.com/">Dennis Bang</a> |
  </div>
</footer>
