<div ng-include="'components/navbar/navbar.html'"></div> <!--네비게이션바 include-->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Daily Life</h1>
    <p class="lead">Angular Fullstack Generator을 활용해 프로젝트 시작</p>
    <a href="/dayPlanner/1"><button>주 계획 플래너 작동</button></a>
    <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
  </div>
</header>
<div class="container">
  <h2 class="page-header"> Yesterday's Promise <a href="/diary"><span class="glyphicon glyphicon-book"/></a></h2>
  <div class="alert alert-success">
    <strong>{{todayPromise}}</strong>
  </div>
</div>

<div class="container">
  <h2 class="page-header">Today Plan</h2>
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th class="col-md-4">오전</th>
      <th class="col-md-4">오후</th>
      <th class="col-md-4">저녁</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td drop-thing="morning">
        <!--<button type="submit" class="btn btn-primary" ng-repeat="thing in awesomeThings | filter:priorityFilter">-->
        <!--{{thing.name}}-->
        <!--</button>-->
        <a href="#"  class="list-group-item" ng-repeat="thing in awesomeThings | filter:dayPlanFilter('morning')" drag-thing>
          <h4 class="list-group-item-heading" >
            <button type="button" class="todo-check" ng-click="deleteThing(thing)">
              <span class="glyphicon glyphicon-check"/>
            </button>
            {{thing.title}}
            <button type="button" class="priority" ng-click="priorityThing(thing)">
              <span ng-class="{'glyphicon glyphicon-star-empty':thing.priority == 'normal','glyphicon glyphicon-star':thing.priority == 'high'}"/>
            </button>
          </h4>
        </a>
      </td>
      <td drop-thing="afternoon">
        <a href="#"  class="list-group-item" ng-repeat="thing in awesomeThings | filter:dayPlanFilter('afternoon')" drag-thing>
          <h4 class="list-group-item-heading" >
            <button type="button" class="todo-check" ng-click="deleteThing(thing)">
              <span class="glyphicon glyphicon-check"/>
            </button>
            {{thing.title}}
            <button type="button" class="priority" ng-click="priorityThing(thing)">
              <span ng-class="{'glyphicon glyphicon-star-empty':thing.priority == 'normal','glyphicon glyphicon-star':thing.priority == 'high'}"/>
            </button>
          </h4>
        </a>
      </td>
      <td drop-thing="night">
        <a href="#"  class="list-group-item" ng-repeat="thing in awesomeThings | filter:dayPlanFilter('night')" drag-thing>
          <h4 class="list-group-item-heading" >
            <button type="button" class="todo-check" ng-click="deleteThing(thing)">
              <span class="glyphicon glyphicon-check"/>
            </button>
            {{thing.title}}
            <button type="button" class="priority" ng-click="priorityThing(thing)">
              <span ng-class="{'glyphicon glyphicon-star-empty':thing.priority == 'normal','glyphicon glyphicon-star':thing.priority == 'high'}"/>
            </button>
          </h4>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>



<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">To-Do <a href="/schedule"><span class="glyphicon glyphicon-calendar"/></a></h2>
      <!--<form class="thing-form">-->
      <!--<label>빠른등록</label>-->
      <!--<p class="input-group">-->

      <!--<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">-->
      <!--<input type="date" class="form-control" ng-model="newDate">-->
      <!--<input type="checkbox" ng-model="priority.value" ng-true-value="'high'" ng-false-value="'normal'">-->
      <!--<span class="input-group-btn">-->
      <!--<button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>-->
      <!--</span>-->
      <!--</p>-->
      <!--</form>-->

      <div class="list-group" drop-thing="highPriority">
        <h3><span class="label label-warning">Must</span></h3>

        <form class="thing-form" ng-submit="addThing('must')">
          <input type="text" class="form-control" placeholder="오늘 꼭 해야할 일" ng-model="mustToDo"  ng-keyup="$event.keyCode == 13 && addThing('must')">
        </form>
        <a href="#" class="list-group-item" ng-repeat="thing in awesomeThings | filter:priorityFilter" drag-thing >

          <h4 class="list-group-item-heading" >
            <button type="button" class="todo-check" ng-click="deleteThing(thing)">
              <span class="glyphicon glyphicon-check"/>
            </button>
            {{thing.title}}
            <button type="button" class="priority" ng-click="priorityThing(thing)">
              <span ng-class="{'glyphicon glyphicon-star-empty':thing.priority == 'normal','glyphicon glyphicon-star':thing.priority == 'high'}"/>
            </button>
          </h4>
        </a>

      </div>
      <div class="list-group" drop-thing="today" style="margin-top: 50px">
        <h3><span class="label label-primary">Today</span></h3>

        <form class="thing-form" ng-submit="addThing('today')">
          <input type="text" class="form-control" placeholder="오늘 해야할 일" ng-model="todayToDo"  ng-keyup="$event.keyCode == 13 && addThing('today')">
        </form>
        <a href="#" class="list-group-item" ng-repeat="thing in awesomeThings| filter:todayFilter" drag-thing  >
          <h4 class="list-group-item-heading" >
            <button type="button" class="todo-check" ng-click="deleteThing(thing)">
              <span class="glyphicon glyphicon-check"/>
            </button>
            {{thing.title}}
            <button type="button" class="priority" ng-click="priorityThing(thing)">
              <span ng-class="{'glyphicon glyphicon-star-empty':thing.priority == 'normal','glyphicon glyphicon-star':thing.priority == 'high'}"/>
            </button>
          </h4>
        </a>
      </div>
      <div class="list-group" style="margin-top:50px;">
        <h3><span class="label label-default">Week</span></h3>
        <a href="#" class="list-group-item" ng-repeat="thing in awesomeThings| filter:weekFilter" drag-thing>
          <h4 class="list-group-item-heading" >
            <button type="button" class="todo-check" ng-click="deleteThing(thing)">
              <span class="glyphicon glyphicon-check"/>
            </button>
            {{thing.title}}
            <button type="button" class="priority" ng-click="priorityThing(thing)">
              <span ng-class="{'glyphicon glyphicon-star-empty':thing.priority == 'normal','glyphicon glyphicon-star':thing.priority == 'high'}"/>
            </button>
          </h4>
        </a>
      </div>
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">-->
      <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>-->
      <!--</ul>-->
    </div>
  </div>




  <footer class="footer">
    <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="http://jhbang8917.cafe24.com/">Dennis Bang</a> |
    </div>
  </footer>
