
<div class="container">

  <h1>오늘의 스케줄은 다음과 같습니다.</h1>
  <h1>마지막으로 확인하세요~</h1>

</div>

<div class="container" style="margin-top: 50px">
  <form class="thing-form" ng-submit="addThing()">
    <input type="text" class="form-control" placeholder="오늘 추가할 일" ng-model="todayToDo"  ng-keyup="$event.keyCode == 13 && addThing()">
  </form>
  <a href="#"  class="list-group-item" ng-repeat="thing in weekThing | filter : weekThingFilter">
    <h4 class="list-group-item-heading" >
      {{thing.title}}
      <button type="button" class="close" ng-click="moveThingToday(thing)">
        <span class="glyphicon glyphicon-ok"/>
      </button>
    </h4>
  </a>
</div>


