  <div style="height: 305px">
    <carousel>
      <!--<slide ng-repeat="slide in slides" active="slide.active">-->
        <!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
        <!--<div class="carousel-caption">-->
          <!--<h4>Slide {{$index}}</h4>-->
          <!--<p>{{slide.text}}</p>-->
        <!--</div>-->
      <!--</slide>-->
      <slide active="slide.active">
        <div class="carousel-caption" style="margin:auto; height:200px">
          <h3>첫번째페이지</h3>
        </div>
      </slide>
      <slide active="slide">
        <div class="carousel-caption">
          <h3>두번째페이지</h3>
        </div>
      </slide>
      <slide active="slide">
        <div class="carousel-caption">
          <h3>세번째페이지</h3>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div>
